app_WebReferences/BookReviewServiceReference/SampleBookReviewService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBookLite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookLite" nillable="true" type="tns:BookLite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookLite" nillable="true" type="tns:ArrayOfBookLite" />
  <xs:complexType name="BookLite">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookLite" nillable="true" type="tns:BookLite" />
</xs:schema>